@model GamesItem
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger" />
    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger" />
    </div>
    <div>
        <label asp-for="Genre"></label>
        <select asp-for="Genre" asp-items="Html.GetEnumSelectList<GamesItem.GameGenre>()" class="form-control"></select>
        <span asp-validation-for="Genre" class="text-danger" />
    </div>
    <div>
        <label asp-for="Publication"></label>
        <input asp-for="Publication" class="form-control" />
        <span asp-validation-for="Publication" class="text-danger" />
    </div>
    <a class="btn btn-info" style="margin-top: 10px" asp-action="Index">Return</a>
    <button class="btn btn-primary" style="margin-top: 10px" type="submit">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 