@if (TempData != null)
            {
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
            }

<form asp-action="Index" method="get">
    <button class="btn btn-outline-info">Return</button>
</form>